<div class="flex gap-5">
  <div>
    <app-search (valueChange)="updateFilters($event)" [controls]="['title', 'priceFrom']"></app-search>
  </div>
  <div>
    {{ (res$ | async)?.total }}
    <select
      class="bg-green-200 p-2 rounded-md"
      [ngModel]="filters$.value.itemsPerPage"
      #x
      (change)="updateFilters({ itemsPerPage: x.value })"
    >
      @for (item of [2,5,10]; track $index) {
      <option>{{ item }}</option>
      }
    </select>
    <ng-template #addTpl>
      <form #fadd="ngForm">
        <mat-dialog-content>
          <input class="border m-2 p-4" ngModel name="title" placeholder="title" required minlength="3">
          {{fadd.controls['title']?.errors|json}}
          @if (fadd.controls['title'].hasError('required')) {
            <div class="text-red-500">masz error</div>
          }
          <br>
          <input class="border m-2 p-4" ngModel name="price" placeholder="price" required pattern="\d{1,3}">
          <br>
          <input class="border m-2 p-4" ngModel name="category" placeholder="category" required>
          <br>
      </mat-dialog-content>
      <mat-dialog-actions>
          <button mat-button [mat-dialog-close]="fadd">Add item</button>
      </mat-dialog-actions>
      </form>
    </ng-template>
    <button class="btn !bg-blue-500" (click)="openModal(addTpl)">add</button>
<mat-paginator class="!bg-green-50"
      [length]="(res$ | async)?.total"
      [pageSize]="filters$.value.itemsPerPage"
      (page)="updateFilters({ currentPage: $event.pageIndex+1, itemsPerPage:$event.pageSize})"
      [pageSizeOptions]="[2, 5, 10]"
      aria-label="Select page"
    >
    </mat-paginator>
    <app-grid
      (action)="actionHandler($event)"
      [config]="config"
      [data]="(res$ | async)?.data"
    ></app-grid>
  </div>
</div>
