<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="!bg-blue-200" routerLink="items">items</a>
      <a mat-list-item routerLinkActive="!bg-blue-200" routerLink="workers">workers</a>
      <a mat-list-item routerLinkActive="!bg-blue-200" routerLink="register">register</a>
      <a mat-list-item routerLinkActive="!bg-blue-200" routerLink="auth">auth</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>ng-app</span>
      <button class="btn">xyz</button>
      <app-auth></app-auth>
      @if (coreService.httpActive()) {
        <mat-spinner color="warn" class="scale-50"></mat-spinner>
      }
    </mat-toolbar>
    <!-- Add Content Here -->
     <div class="p-4 bg-green-50 rounded-lg h-full">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
