<p>register works!</p>

<div class="flex gap-4">
    <form [formGroup]="form">
        
        <div class="p-4 m-4 bg-blue-200 rounded">
            username
            <input type="text" formControlName="username">
            {{form.get('username')?.errors | json}}
        </div>
        <div class="p-4 m-4 bg-blue-200 rounded">
            data ur
            <input type="date" formControlName="birthDate">
            {{form.get('birthDate')?.errors | json}}
        </div>
        <div class="p-4 m-4 bg-blue-200 rounded" formGroupName="passwords">
            <input type="text" formControlName="password" >
            <input type="text" formControlName="confirmPassword" >
        </div>

        <div class="p-4 m-4 bg-blue-200 rounded" formGroupName="hobbies">
            <!-- {{form.get('hobbies')?.value|json}} -->
            @for (item of form.get('hobbies')?.value | keyvalue; track $index) {
                {{item.key}} 
                <input type="checkbox" [formControlName]="item.key">
            }
            {{form.get('hobbies')?.errors | json}}
        </div>
    </form>
    <pre>{{form.value|json}}</pre>
</div>
